.side-drawer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  height: 94vh;
  width: 50%;
  background: #ff0055;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}


body:has(.side-drawer) main {
  opacity: 0.6;
  backdrop-filter: blur(90%);
}

.side-drawer a {
  font-size: 1.5em;
}